h1{
      color:#D10986;
      letter-spacing: 3px;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;

display: inline-flex;
}
     fieldset{
        

        font-size: 17px;
        
    }
     p{
           letter-spacing: 3px;
            text-transform: uppercase;
            font-style: oblique;
            font-weight: bold; 
     }
    
     body{
background-image:url(https://i.pinimg.com/originals/ee/83/a1/ee83a1e17df4c12019668754f21fb892.png);
background-repeat: no-repeat;
background-position: center;
background-size:1000px;
        }
    label{
    
       text-decoration: wavy;
        text-shadow: aqua;
    font-size: x-large;
        background-color:aqua;
        border-radius: 6px;
        background-size: 20px;
        
    }
     input{
        font-size: larger;
    }
   
    .menu-bar{
        text-align: center;

    
    }
    .menu-bar ul{
        display: inline-flex;
        list-style: none;
        color: #ffffff;
        text-align: center;
    }
    
    .menu-bar ul li {
        width:120px ;
        margin: 15px;
        padding:15px ;
    }
    .menu-bar ul li a {
        text-decoration: none;
        color:black;
    }
    

    .active,.menu-bar ul li {
        background: rgb(102, 236, 154);
        border-radius: 3px;
        font-size: 20px;
        }
        .bkm{
            background-color: rgb(250, 68, 195);
             border: rgb(6, 232, 248);
             width: 290px;
             margin: auto;
             
        }
        .debut{
            color: rgb(240, 116, 192);
        }
.fin{
    color: aqua; 
}    
.never-mind{   position: absolute;
    top: 23%;
    right: 20%;
    left: 5%;
    display: flex;
}
.never-mind ul li{
    text-decoration: none;
    background-color: lightblue;
    color: red;
    font-weight: bold;
    background:#e3edf7 ;
    height: 50px;
    widows: 50px; ;
    margin:0 15px;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    text-decoration: none;
    padding: 12px;
    font-size: 40px;
}

